<h3>Add Answer</h3>
<%= render 'layouts/errors', :object => @answer %>
<%= form_for [@question, @answer] do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
