<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <% if user_signed_in? %>
    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
    <li><%= link_to 'Ask a Question', new_user_question_path(current_user) %></li>
    Logged in as <strong><%= current_user.email %></strong>.
    <% if current_user.admin? %>
    Admin
    <% end %>
    <% else %>
    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
    <% end %>
  </ul>
</nav>
